.symbol {
    color: rgba(255, 81, 0, 0.53);
    background-color: #172937;
    height: 45px;
    width: 40px;
    border: 1px solid black;
    border-radius: 10px;
    border: hidden;
}

.details {
    height: 60px;
    /* width: 50px; */
    font-size: 15px;
}

.fa-regular {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.font1 {
    font-size: 12px;
    color: grey;
}

.font2 {
    font-size: 13px;
}

#social {
    margin-bottom: 100px;
}

.article-info {
    font-size: 15px;
}

.child1 {
    border-radius: 20px;
    padding: 20px;
    background-color: #172937;
    height: 200px;
    width: 380px;
    margin: 15px;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.child2 {
    border: hidden; 
    border-radius: 20px;
    padding: 20px;
    background-color: #172937;
    /* height: 70%;
    width: 90%; */
}

#line {
    margin-left: 25px;
    color: rgb(255, 106, 0);
    background-color: #ff4400;
    height: 5px;
    width: 50px;
    border-radius: 10px;
    border: hidden;
}

.exper {
    height: 100%;
    width: 100%;
}